html {
  width: 100vw;
  margin: 0;
  padding: 0;
}


body {
  width: 100%;
  position: relative;
  font-family: sans-serif;
  margin: auto;
  padding-top: 8vh;
  overflow-y: scroll;

}


section {
  width: 100vw;
}


html,
body {
  max-width: 100%;
  overflow-x: hidden;
}


.navbar {
  -webkit-box-shadow: 0 2px 3px #000;
  -moz-box-shadow: 0 2px 3px #000;
  box-shadow: 0 2px 3px #000;

}

.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*
section:before {
    height: 54px;
    content: "";
    display:block;
}
*/

#aboutMe {
  /*background-image: url(https://images.unsplash.com/photo-1548412209-063a87db78c8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=752&q=80);
  */
  /*background-color: #E6C229;*/
  background-image: url("https://images.unsplash.com/photo-1472201248592-1241c92256ff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1452&q=80");
  height: 90vh !important;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 7;
}




#experience {
  display: flex;
  background-color: #F7B05B;
  /*height: 92vh;*/
  height: 140vh;
  padding-bottom: 5em;
  padding-top: 2em;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 6;
}

#education {
  display: block;
  padding-top: 2em;
  background-color: #2274A5;
  height: 85vh;
  padding-bottom: 5em;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 5;
}

#skills {
  /*background-color: #FFDDA1;*/
  /*
  background-image: url("https://images.unsplash.com/photo-1521107510223-872e19d7ae8e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  */
  background-image: url("https://images.unsplash.com/photo-1458724204880-8a3555bb5003?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");
  height: 92vh;
  padding-bottom: 5em;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 4;
}

#hobbies {
  /*background-image: url("https://images.unsplash.com/photo-1468413253725-0d5181091126?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80");*/
  background-image: url("https://images.unsplash.com/photo-1519405530001-3b5e82ba4dac?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1225&q=80");
  display: flex;
  background-color: #20A39E;
  height: 92vh;
  padding-bottom: 5em;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 3;
}

#contact {
  padding-top: 2em;
  background-color: #1A8FE3;
  height: 60vh;
  padding-bottom: 5em;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 2;
}




.container.pg1 {
  display: flex;
}


#aboutMe img {
  height: 90vh;
  position: absolute;
  right: 6em;
}

#aboutMe .container {
  padding: 0;
  margin: 0;
}

#aboutMe .welcomeTxt h1 {
  position: relative;
}


#aboutMe h1 {
  font-size: 5.9em;
  font-weight: 300;
  font-family: 'Adequate Extra Light';
  src: local('Adequate Extra Light'), url('Adequate-ExtraLight.woff') format('woff');
  color: #D16014;
  text-shadow: 3px 2px #000;

  /*  
  font-family: 'Montserrat', sans-serif;
  font-size: 6em;
*/
  /*font-family: font37125;*/
}

#aboutMe h2 {
  font-size: 4.3em;
  font-weight: 500;
  color: #D16014;
  text-shadow: 3px 2px #000;
  /*
  font-size: 2.5em;
  font-family: font37125;
  font-family: 'Roboto Slab', serif;
  */
  font-family: 'Adequate Extra Light';
  src: local('Adequate Extra Light'), url('Adequate-ExtraLight.woff') format('woff');
  text-align: right;
}

#aboutMe p {
  font-family: 'Roboto Slab', serif;
  font-size: 1.3em;
  background-color: #1A8FE3;
  text-indent: 3%;
  box-shadow: 5.5px 9px;
  padding: 0.5em 0.5em;

}

.retroshadow {
  transform: skew(-9deg) rotate(-9deg);
  color: #2c2c2c;
  letter-spacing: .05em;
  text-shadow:
    4px 4px 0px #d5d5d5,
    7px 7px 0px rgba(0, 0, 0, 0.2);
}

#experience .aWork {
  background-color: #F5E9E2;
  margin-bottom: 1em;
  box-shadow: 5.5px 9px;
  font-family: 'Roboto Slab', serif;
  font-size: 1.1em;
  padding: 0.5em 0.5em;
}

#experience .aWork h5 {
  font-weight: 600;
}

#experience .aWork h6 {
  font-weight: 500;
}

#skills .container {
  padding-top: 2.5em;
  margin: 0 auto;
}

#skills .card {
  box-shadow: 5.5px 9px;
  font-family: 'Roboto Slab', serif;
  height: 9em;
  background-color: #BBCE8A;
}

#skills .iAm {
  font-family: 'Roboto Slab', serif;
  font-weight: 500;
  color: #283845;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: white;

}

#education img {
  height: 50vh;
  box-shadow: 5.5px 9px;
}

#education p {
  margin: 1.5em;
  text-align: center;
}

#skills .card h1 {
  font-size: 2.9em;
}

/*
.card:hover{
  box-shadow: 5.5px 9px #F5E9E2 !important;
}
*/

#education .container {
  background-color: #F5E9E2;
  box-shadow: 5.5px 9px;
}

#contact .container .info {
  margin: 0 auto;
  background-color: #F5E9E2;
  box-shadow: 5.5px 9px;
  overflow-wrap: break-word;
}

#contact a {
  color: #283845;
  font-size: 2.5em;
}

#contact h1 {
  font-size: 4em;
  color: #283845;
}

#contact img {
  height: 52vh;
  box-shadow: 5.5px 9px;
}

#hobbies .container .hobbyList {
  background-color: #F5E9E2 !important;
  box-shadow: 5.5px 9px;
  padding: 0.5em 0.5em;
  margin-top: 2em;
}

#hobbies img {
  margin-top: 2em;
  height: 52vh;
  box-shadow: 5.5px 9px;
}

#hobbies h1 {
  font-family: 'Roboto Slab', serif;
}

#hobbies li {
  font-family: 'Roboto Slab', serif;
  font-size: 1.3em;
}


@media(max-width: 700px) {

  html {
    width: 100vw;
  }


  section {
    width: 100vw !important;
  }

  #aboutMe {
    height: 236vh !important;
    margin-top: 0;
  }

  #aboutMe img {
    position: relative;
  }


  #experience {
    height: 276vh !important;
  }

  #skills {
    height: 240vh !important;
  }

  #skills .card {
    margin-top: 2em;
    height: 12em;
  }

  #education {
    height: 150vh !important;
  }

  #hobbies {
    height: 170vh !important;
  }

  #contact {
    height: 170vh !important;
  }


  #contact img {
    width: 100%;
    margin-bottom: 2em;
  }

  #contact a {
    width: 100%;
  }

  #aboutMe div {
    width: 100%;
  }

  #education img {
    height: 50vh;
    width: 100%;
    box-shadow: 5.5px 9px;
  }

}

@media(max-width: 400px) {
  html {
    width: 100vw;
  }


  section {
    width: 100vw !important;
  }

  #aboutMe {
    height: 266vh !important;
    margin-top: 0;
  }

  #aboutMe img {
    position: relative;
  }


  #experience {
    height: 422vh !important;
  }

  #skills {
    height: 360vh !important;
  }

  #skills .card {
    margin-top: 2em;
    height: 16em;
  }

  #education {
    height: 140vh !important;
  }

  #hobbies {
    height: 160vh !important;
  }

  #contact {
    height: 140vh !important;
  }


  #contact img {
    width: 100%;
    margin-bottom: 2em;
  }

  #contact a {
    width: 100%;
  }

  #aboutMe div {
    width: 100%;
  }

  #education img {
    height: 50vh;
    width: 100%;
    box-shadow: 5.5px 9px;
  }

}